<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trust.maplibrary">

    <application>
        <activity android:name=".ui.activity.MapTrajectoryActivity" />
        <activity android:name=".ui.activity.MapModuleActivity"></activity>
    </application>

</manifest>