<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.trust.demo.basis">

    <!-- <&#45;&#45;!读取数据的权限-&ndash;&gt; -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <&#45;&#45;!在SD卡中创建与删除文件权限&ndash;&gt; -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />



    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
