<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trust.trustbluetooth">

    <!-- 适配Android6.0/7.0   静默开启本地蓝牙 不会有对话框 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application>
        <activity android:name=".ble.peripheral.PeripheralActivity" />
        <activity android:name=".ble.central.CentralActivity" />
        <activity android:name=".BlueActivity" />
        <activity android:name=".ble.BleActivity" />
        <activity android:name=".blue.TraditionActivity"></activity>
    </application>

</manifest>